<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="liga.testsklad.repository.RoleRepository">

    <resultMap id="role" type="liga.testsklad.model.Role" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findById" resultMap="role">
        SELECT * FROM role  WHERE id = #{id};
    </select>

    <select id="findAll" resultMap="role">
        SELECT * FROM role ;
    </select>

    <insert id="addAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO role (name) VALUES
        <foreach collection="collection" item="item" separator=",">
            (#{item.name})
        </foreach>
    </insert>

</mapper>